{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<div class="container">
<div class="col-lg-4">

        <h2 class="fw-normal">Краткая информация</h2>
        <p>Этот сайт предназначен для людей, которые попали в такую же ситуацию, что и владельцы этого сайта. По приезду в город Самара, нам было сложно найти место где выплеснуть свою энергию, и теперь мы готовы представить, то что мы не смогли найти, удачного пользования, своячки!</p>
      </div>
<div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Контакты</h4>
          </div>
          <div class="card-body">

              <li>+78005553535</li>
              <li>VK: @pigeon_11</li>
              <li>Email: seleznev85377@mail.ru</li>
          </div>
        </div>
      </div>

</div>
{% endblock %}